.container{
    margin-top:5%;
  }
  /* Style to create scroll bar in dropdown */ 
  select{
      height: auto;
      max-height:320px;  /* Increase / Decrease value as per your need */
      overflow-x: hidden;
  }